
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.logo {
    width: 120px;
    margin-top: 10px;
}

h1 {
    color: #d60000;
}

.menu-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.menu-item {
    background: #d60000;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.menu-item:hover {
    background: #a30000;
}

footer {
    margin-top: 50px;
    font-size: 14px;
}
input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    width: 200px;
    text-align: center;
}

button {
    background-color: #d60000;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a30000;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d60000;
    color: white;
}
